.barra {
    padding: 0;
    margin: 0;
}
.conteudo {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.pessoal {
    width: 100vw;
    margin-bottom: 4px;
    display: flex;
    flex-direction: column;
    
}
.foto {
    display: flex;
    justify-content: center;
    width: 200px;
}

#foto{
    border-radius: 50%;
}

.info {
    width: calc(100vw - 200px);
    display: flex;
    align-items: center;
}

.rowPessoal {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}