.barra {
    padding: 0;
    margin: 0;
}
.conteudo {
    width: 100vw;
    display: flex;
    flex-direction: column;
}

.pessoal {
    width: 100vw;
    display: flex;
    flex-direction: row;
}
.foto {
    width: 200px;
    display: flex;
    justify-content: center;
}
.info {
    width: calc(100vw - 200px);
    display: flex;
    align-items: center;
}